<htlml>
<head>
  <base href='{{ .Site.BaseURL }}'>
  <!-- <title>{{ partial "data/title" . }}</title> -->
  <link rel='canonical' href='{{ .Permalink }}'>
  <link href='{{ .RSSLink }}' rel='alternate' type='application/rss+xml' title='{{ .Site.Title }}' />
  {{ partial "head/includes.html" . }}
</head>
</body>
<h2><a href="{{ .Site.BaseURL }}">home</a> |
  <a href="{{ .Site.BaseURL }}/categories">tags</a> |
  <!-- archive | -->
  <!-- about | -->
  <a href="http://mulvany.net">mulvany.net</a></h2>
<hr/>
