@import 'https://fonts.googleapis.com/css?family=Lobster|Quicksand|Cutive+Mono';

html {
  font-size: 7px;
}



body {
  width: 70%;
  margin: 0 auto;
  font-family: 'Quicksand', sans-serif;
}

article {
  font-size: 3.5rem;
}


article .post-title {
  font-size: 4.5rem;
  line-height: 1.4;
}

article .post-date {
  font-size: 3.0rem;
  font-style: italic;
  /* line-height: 1.4; */
  position: 'relative';
  margin-top:-4.0rem;
  margin-bottom:-2.0rem;
}

article .post-entry-tags {
  font-size: 3rem;
  font-weight: 500;
  margin: 0 0 0 0;
  background:#6a71671a;
  border-radius: 6px;
}

article.post-preview p:first-letter {
  float: left;
  /* font-family: Georgia; */
  font-size: 16.0rem;
  line-height: 0.0rem;
  padding-top: 7.0rem;
  padding-bottom: 5.0rem;
  padding-right: 0.5rem;
  padding-left: 0.25rem;
}

article.post-preview {
  padding-bottom: 5.0rem;
}


a {
  text-decoration: none;
  color: #138613;
}

a:visited {
  color: #4e7169;
}

a:hover {
  color: #C0C0C0;
}
